<div class="row">
  
  <app-orders-states-staticts class="col-lg-5"></app-orders-states-staticts>
  <div class="col-lg-12">
    <app-restaurant-table></app-restaurant-table> 
  </div>
  
  <div class="py-6 px-6 text-center">
    <p class="mb-0 fs-4">Design and Developed by <a href="" target="_blank"
        class="pe-1 text-primary text-decoration-underline">apps4you.com</a>Distributed by <a href=""
        target="_blank" class="pe-1 text-primary text-decoration-underline">Apps4you</a></p>
  </div>

</div>
