<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
  <aside class="left-sidebar">
    <app-sidebar></app-sidebar>
  </aside>
  <div class="body-wrapper">
    <app-navbar class="app-header"></app-navbar>
    <div class="container-fluid">
      <router-outlet class="row"></router-outlet> <!-- will be replaced with router outlet when we added another features (components) -->
    </div>
  </div>
</div>